#container {
  display: flex;
  flex-direction: row;
}
#main {
  display: flex;
  flex-direction: column;
}

#pool,
#debugPanel,
.lane {
  padding: 20px;
  margin: 20px;
  border: 2px dashed black;
  border-radius: 10px;
}

.count {
  font-size: 2rem;
  font-weight: bolder;
}
p {
  padding: 10px;
  border: 1px solid black;
}
